.tile {
  min-width: 300px;
  min-height: 300px;
  box-shadow:
    0 2px 12px 0 rgba(0,0,0,.1),
    0 12px 18px -6px rgba(0,0,0,.08);
  border-radius: 5px;
  background: linear-gradient(rgb(56, 49, 120), rgb(82, 122, 151));
  position: relative;
}

@mixin vcen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ring {
  border: 1px solid rgba(#FFF, 0.75);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  @include vcen;
}


.hour {
  @include vcen;
  color: #FFF;
  font-size: calc(10px + 2vw);
  font-family: monospace;
  font-weight: 100;
}
